<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/vault.css" />
    <title>SkySafe Vault</title>
  </head>
  <body>
    <div class="vault-container">
      <%- include('./partials/vaultHeader')%>
      <section class="vault-content">
        <div class="side-bar">
          <div class="side-bar-icons">
            <div class="side-icons new-file">
              <img src="/assets/icons/page-plus-in.svg" alt="add new file" />
              <span>New File</span>
            </div>
            <div class="side-icons new-folder">
              <img src="/assets/icons/folder-plus.svg" alt="add new folder" />
              <span>New Folder</span>
            </div>
          </div>
          <div class="folders-container">
            <ul>
              <div class="username-side">
                <div>Username</div>
                <% if(folderQuery !== `/`){ %>
                <a href="/vault">
                  <img src="/assets/icons/undo.svg" alt="back" />
                </a>
                <% } %>
              </div>
              <% folders.forEach(f=>{ %>
              <li>
                <div class="folder-li">
                  <div>
                    <img
                      src="/assets/icons/folder.svg"
                      alt="folder-<%= f.name%>"
                    />
                    <a href="/vault/<%= f.id %>"><%= f.name %></a>
                  </div>
                  <a href="/deleteFolder?id=<%= f.id %>"
                    ><img src="/assets/icons/bin.svg" alt="delete folder"
                  /></a>
                </div>
                <% if(f.children.length > 0){ %>
                <ul class="children">
                  <% f.children.forEach(c=>{ %>
                  <li class="child-li">
                    <div>
                      <img src="/assets/icons/minus.svg" alt="child-folder" />
                      <img
                        src="/assets/icons/folder.svg"
                        alt="folder-<%= c.name%>"
                      />
                      <a href="/vault/<%= c.id %>"><%= c.name %></a>
                    </div>
                    <a
                      href="/deleteFolder?id=<%= c.id %>&parent=<%= c.parentId %>"
                      ><img src="/assets/icons/bin.svg" alt="delete folder"
                    /></a>
                  </li>
                  <% }) %>
                </ul>
                <% } %>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="vault-main">
          <div class="files-container">
            <ul>
              <li>
                <div class="file-title">Name</div>
                <div class="file-title">Size</div>
                <div class="file-title">Date Added</div>
                <div class="file-title">Actions</div>
              </li>
              <%files.forEach((d,index)=>{if(index % 2 === 0){%>
              <li class="files-odd">
                <div class="file-name"><%= d.name%></div>
                <div class="file-size"><%= d.size%></div>
                <div class="file-date"><%= d.date%></div>
                <div class="file-actions">
                  <img src="/assets/icons/more-horiz.svg" alt="menu icon" />
                  <div class="action-buttons-container action-hide">
                    <div class="action-buttons">
                      <a
                        href="/download?name=<%= d.name%>&folder=<%= d.folderId%>"
                        >Download</a
                      >
                      <a href="" class="share-btn" data-id="<%= d.id%>"
                        >Share</a
                      >
                      <a
                        href="/deleteFile?id=<%= d.id%>&location=<%= d.folderId%>"
                        >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </li>
              <%}else{%>
              <li>
                <div class="file-name"><%= d.name%></div>
                <div class="file-size"><%= d.size%></div>
                <div class="file-date"><%= d.date%></div>
                <div class="file-actions">
                  <img src="/assets/icons/more-horiz.svg" alt="menu icon" />
                  <div class="action-buttons-container action-hide">
                    <div class="action-buttons">
                      <a
                        href="/download?name=<%= d.name%>&folder=<%= d.folderId%>"
                        >Download</a
                      >
                      <a href="" class="share-btn" data-id="<%= d.id%>"
                        >Share</a
                      >
                      <a
                        href="/deleteFile?id=<%= d.id%>&location=<%= d.folderId%>"
                        >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </li>
              <%}})%>
            </ul>
          </div>
          <div class="directory-container">Directory Placeholder</div>
        </div>
      </section>
      <dialog class="newFile-modal">
        <form
          action="<%= reqParams%>"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="modal-titlebar">
            <div class="close-modal"></div>
            <div>File Upload</div>
          </div>
          <div class="modal-content">
            <input
              type="file"
              name="file"
              class="browse-btn"
              accept="image/*,video/*"
            />
          </div>
          <div class="modal-footer">
            <button class="upload">Upload</button>
          </div>
        </form>
      </dialog>
      <dialog class="newFolder-modal">
        <form action="/addFolder?url=<%= folderQuery%>" method="post">
          <div class="modal-titlebar">
            <div class="close-newFolder-modal"></div>
            <div>Add Folder</div>
          </div>
          <div class="newFolder-modal-footer">
            <input
              type="text"
              name="folderName"
              placeholder="Folder name"
              class="folder-input"
            />
            <button>Add Folder</button>
          </div>
        </form>
      </dialog>
      <dialog class="share-modal">
        <form action="">
          <div class="modal-titlebar">
            <div class="close-share-modal"></div>
            <div>Share File</div>
          </div>
          <div class="share-modal-footer">
            <label for="duration">Select Duration</label>
            <select name="duration" id="duration">
              <option value="">Please chose a option</option>
              <option value="10m">10 Min</option>
              <option value="1h">1 hr</option>
              <option value="10h">10 hr</option>
              <option value="1d">1 D</option>
            </select>
            <button class="get-link">Get Link</button>
            <button class="copy-btn">Copy Link</button>
          </div>
        </form>
      </dialog>
    </div>
    <script src="/scripts/vaultIndex.js" type="module"></script>
  </body>
</html>
